@import "tailwindcss";
@plugin "daisyui" {
  themes: dark, light, cupcake;
}



@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(13% 0.028 261.692);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(64.476% 0.202 359.339);
  --color-secondary-content: oklch(12.895% 0.04 359.339);
  --color-accent: oklch(94.228% 0.189 105.306);
  --color-accent-content: oklch(18.845% 0.037 105.306);
  --color-neutral: oklch(21.778% 0 0);
  --color-neutral-content: oklch(84.355% 0 0);
  --color-info: oklch(68.475% 0.094 217.284);
  --color-info-content: oklch(13.695% 0.018 217.284);
  --color-success: oklch(46.949% 0.162 321.406);
  --color-success-content: oklch(89.389% 0.032 321.406);
  --color-warning: oklch(71.236% 0.159 52.023);
  --color-warning-content: oklch(14.247% 0.031 52.023);
  --color-error: oklch(62.013% 0.208 28.717);
  --color-error-content: oklch(12.402% 0.041 28.717);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.163 0.000 0.0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(0.300 0.000 0.0);
  --color-base-content: oklch(92% 0.013 255.508);
  --color-primary: oklch(98% 0.001 106.423);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(14% 0 0);
  --color-secondary-content: oklch(97% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(20% 0.042 265.755);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(94% 0.03 12.58);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}







/* * {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease,
  box-shadow 0.3s ease;
} */